
@media (max-width: 1100px) {
    .header nav ul li {
        padding: 29px 11px 27px 11px;
    }
}
@media (max-width: 768px) {   
    .header {
        padding: 20px 2% 0 2%;
    }
  
    .home-page-link {
        display: none;
    }
  
    .searchTerm {
        width: 100px;
    }
  
    #trailer-img {
        height: 490px;
        background-size: cover;
        background-position: center;
    }
  
    .trailer-img + h2 {
        font-size: 24px !important;
    }
  
    .footer, #page-2 {
        padding: 0 2%;
    }
  
    #page-2 .films-list #grid {
        grid-template: repeat(3, 1fr)/repeat(2, 1fr);
    }
  
    footer .nav-bottom {
        width: 50%;
    }
}
@media (max-width: 500px) {
    .header {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-align: start;
        align-items: flex-start;
    }
    .trailer-img + h2 {
        width: 100% !important;
    }
    .nav {
        width: 100%;
    }
      
    .menu {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        position: static;
        color: #fff;
        padding-bottom: 10px;
    }
      
    .wrapp-search-sign {
        position: absolute;
        right: 78px;
        top: 42px;
    }
      
    .nav, #sign-link, .toggle + a, footer .nav-bottom {
        display: none;
    }
      
    [id^=dropp-mobile]:checked + nav, #nav #dropdown [id^=drop-1]:checked + ul, #nav-mobile, .nav-mobile span {
        display: block;
    }
      
    #toggle {
        display: block;
        cursor: pointer;
        opacity: 0.54;
        color: #fff;
    }
      
    .header .menu li {
        display: block;
        padding: 0;
    }
      
    .header .menu li a, .toggle {
        padding: 14px 20px;
        font-size: 17px;
    }
      
    .nav .menu li:hover,
    .nav ul ul a {
        background-color: #242424;
    }
      
    .nav .menu li {
        border: none;
    }
      
    .nav .menu .dropdown ul li a {
        color: #fff;
    }
      
    .nav .menu .dropdown .dropdown-menu, .nav .menu .dropdown .dropdown-menu li {
        position: static;
        background-color: transparent;
    }
      
    .nav .menu li:hover > ul, #dropdown-arrow {
        display: none;
    }
      
    body article .wrapper-article {
        margin-top: 10px !important;
    }
      
    #img-mobile-1, #img-mobile-2 {
        height: 246px;
        background-size: cover;
    }
      
    #trailer-img {
        height: 464px;
        background-position: right;
    }
      
    #page-2 {
        margin-top: 10px;
        padding: 0 2%;
    }
      
    #page-2 .films-list #grid {
        grid-template: repeat(6, 1fr)/1fr;
    }
      
    #page-2 .films-list {
        margin: 20px 0 10px 0;
    }
      
    .footer {
        -webkit-box-pack: center;
        justify-content: center;
    }
}
