body {
  font-family: Roboto;
  background-color: #f3f3f3;
  color: #fff;
}

body header {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  padding: 20px 10% 0 10%;
  position: relative;
  font-family: Roboto;
  font-size: 14px;
  background-color: #000;
}

body header .header-logo {
  width: 60px;
  height: 55px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  margin-bottom: 20px;
  border-radius: 50%;
  background-color: #fff;
}

body header nav {
  display: block;
  height: 100%;
  width: 60%;
  text-transform: uppercase;
}

body header nav ul {
  position: relative;
  display: -webkit-box;
  display: flex;
}

body header nav ul li {
  position: relative;
  padding: 27px;
  cursor: pointer;
  border-bottom: 5px solid transparent;
  background-color: #000;
}

body header nav ul li:hover {
  border-bottom-color: #2196f3;
}

body header nav ul li:hover > a {
  opacity: 1;
}

body header nav ul li a {
  display: block;
  opacity: 0.54;
  color: #fff;
  text-decoration: none;
}

body header nav ul .border-co {
  border-bottom-color: #fff;
}

body header nav ul .dropdown {
  position: relative;
  padding-right: 43px;
}

body header nav ul .dropdown .dropdown-img {
  position: absolute;
  top: 45%;
  right: 10%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

body header nav ul .dropdown .toggle, body header nav ul .dropdown #drop-1 {
  display: none;
}

body header nav ul .dropdown .toggle a {
  display: block;
}

body header nav ul .dropdown ul {
  width: 100%;
  display: none;
  padding-top: 20px;
  position: absolute;
  top: 40px;
  left: 0;
  border-radius: 2px;
  z-index: 1;
}

body header nav ul .dropdown ul li {
  padding: 12px 0 10px 15px;
  background-color: #fafafa;
  border: none;
}

body header nav ul .dropdown ul li a {
  text-transform: none;
  color: #000;
}

body header nav ul .dropdown ul li:hover {
  background-color: #eeeeee;
}

body header nav ul .dropdown:hover > ul {
  display: inherit;
}

body header nav ul .dropdown:hover img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

body header nav ul .dropdown:hover {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  background-color: #fafafa;
}

body header nav ul .dropdown:hover a {
  color: #000;
}

body header .wrapp-search-sign {
  display: -webkit-box;
  display: flex;
  width: 45%;
  -webkit-box-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
          align-items: center;
}

body header .wrapp-search-sign .sign-link {
  display: block;
  color: #fff;
  text-decoration: none;
}

body header .wrapp-search-sign .search {
  height: 30px;
  display: -webkit-box;
  display: flex;
  margin-left: 30px;
  -webkit-box-align: center;
          align-items: center;
}

body header .wrapp-search-sign .search .searchButton {
  background-color: transparent;
  border: navajowhite;
  cursor: pointer;
}

body header .wrapp-search-sign .search .searchTerm {
  height: 30px;
  display: none;
  padding-left: 20px;
  background-color: #000;
  border: none;
  color: #fff;
}

body header .wrapp-search-sign .search .searchTerm:focus {
  outline: none;
}

body header .wrapp-search-sign .search [id^=search-field]:checked + .searchTerm {
  display: block;
  -webkit-animation-name: searchTermIn;
          animation-name: searchTermIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

body header .wrapp-search-sign .search [id^=search-field] {
  display: none;
}

body header #dropp-mobile, body header .nav-mobile {
  display: none;
}

body header .nav-mobile {
  position: absolute;
  right: 17px;
  top: 45px;
}

body header .nav-mobile span {
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  background: #fff;
}

body .page-1 article {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  color: #000;
}

body .page-1 article .wrapper-article {
  width: 780px;
  margin-top: 40px;
  padding-bottom: 50px;
  background-color: #fff;
}

body .page-1 article .wrapper-article .info-writer-block {
  padding: 30px 0 15px 30px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

body .page-1 article .wrapper-article .info-writer-block .avatar {
  margin-right: 20px;
}

body .page-1 article .wrapper-article .info-writer-block .data-writer-wrapper {
  line-height: 20px;
}

body .page-1 article .wrapper-article .info-writer-block .data-writer-wrapper span {
  display: block;
}

body .page-1 article .wrapper-article .info-writer-block .data-writer-wrapper .name-writer {
  font-size: 16px;
  color: #4d4d4d;
}

body .page-1 article .wrapper-article .info-writer-block .data-writer-wrapper .hours {
  font-size: 14px;
  font-weight: 400;
  color: #999999;
}

body .page-1 article .wrapper-article .baground-img {
  width: 100%;
  height: 400px;
  background-image: url(../img/Image-article-1.png);
}

body .page-1 article .wrapper-article .baground-img img {
  height: 100%;
  width: 100%;
}

body .page-1 article .wrapper-article .article-2-img {
  background-image: url(../img/Image-article-2.png);
}

body .page-1 article .wrapper-article h1 {
  padding: 30px 0 30px 30px;
  font-size: 36px;
  font-weight: 500;
}

body .page-1 article .wrapper-article p {
  padding: 0 40px 0 30px;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
}

body .page-1 article .wrapper-article .btn-more {
  width: 112px;
  height: 36px;
  margin: 40px 0 0 30px;
  border-radius: 2px;
  background-color: #067ad7;
  text-transform: uppercase;
  color: #fff;
  border: none;
  cursor: pointer;
}

body .page-1 article .wrapper-article .btn-more:hover {
  background-color: #2196f3;
}

body .page-1 .pagination {
  width: 100%;
  height: 96px;
  margin-top: 90px;
  padding: 0 10% 30px 10%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
          align-items: flex-end;
  background-color: #2196f3;
}

body .page-1 .pagination .previous, body .page-1 .pagination .next {
  cursor: pointer;
}

body .page-1 .pagination .previous img, body .page-1 .pagination .next span {
  margin-right: 10px;
}

body .page-1 .pagination span {
  font-size: 19px;
  font-weight: bold;
}

body .page-2 {
  padding: 0 10%;
  margin-top: 40px;
  color: #000;
}

body .page-2 .show-trailer-block {
  padding-bottom: 40px;
  background-color: #fff;
}

body .page-2 .show-trailer-block .trailer-img {
  width: 100%;
  height: 672px;
  position: relative;
  background-image: url(../img/Layer_1.png);
  background-size: cover;
  background-repeat: no-repeat;
}

body .page-2 .show-trailer-block .trailer-img .btn-play {
  height: 66px;
  width: 66px;
  position: absolute;
  right: 25px;
  bottom: -24px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  border-radius: 50%;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  background-color: #067ad7;
  cursor: pointer;
}

body .page-2 .show-trailer-block .trailer-img .btn-play:hover {
  background-color: #2196f3;
}

body .page-2 .show-trailer-block h2 {
  width: 70%;
  margin-left: 25px;
  padding-top: 25px;
  font-size: 36px;
  font-weight: 500;
  line-height: 42px;
}

body .page-2 .show-trailer-block span {
  display: block;
  margin: 25px 0 0 25px;
}

body .page-2 .films-list {
  margin: 40px 0 100px 0;
  background-color: #2196f3;
}

body .page-2 .films-list #grid {
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(3, 1fr);
  grid-gap: 10px;
  background-color: #f3f3f3;
}

body .page-2 .films-list div {
  background-color: #fff;
  border-radius: 2px;
}

body .page-2 .films-list div a {
  display: block;
  padding-bottom: 25px;
  color: #000;
  text-decoration: none;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  -webkit-transform: scale(1);
          transform: scale(1);
}

body .page-2 .films-list div a:hover {
  -webkit-box-shadow: 0px 0px 150px #000000;
          box-shadow: 0px 0px 150px #000000;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

body .page-2 .films-list div img {
  width: 100%;
}

body .page-2 .films-list div h3 {
  margin: 30px 0 10px 30px;
  font-size: 18px;
}

body .page-2 .films-list div span {
  margin-left: 30px;
  color: #4d4d4d;
}

body footer {
  height: 90px;
  padding: 0 10%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  background-color: #fff;
  color: #999999;
  font-weight: bold;
}

body footer nav {
  width: 42%;
}

body footer nav ul {
  -webkit-box-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: flex;
}

body footer nav li a {
  font-weight: bold;
  text-decoration: none;
  color: #999999;
  text-transform: capitalize;
}

.hide {
  display: none;
}

@-webkit-keyframes searchTermIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes searchTermIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */