body {
    font-family: Roboto;
    background-color: #f3f3f3;
    color: #fff;    
    header { 
        display: flex;
        align-items: center;
        padding: 20px 10% 0 10%;
        position: relative;
        font-family: Roboto;
        font-size: 14px;
        background-color: #000;    
        .header-logo {
            width: 60px;
            height: 55px;
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
            border-radius: 50%;
            background-color: #fff;
        }
        nav {
            display: block;
            height: 100%;
            width: 60%;
            text-transform: uppercase;
            ul {
                position: relative;
                display: flex;
                li {
                    position: relative;
                    padding: 27px;
                    cursor: pointer;
                    border-bottom: 5px solid transparent;
                    background-color: #000;
                    &:hover  {
                        border-bottom-color: #2196f3;
                    }
                    &:hover > a {
                        opacity: 1;
                    }
                    a {
                        display: block;
                        opacity: 0.54;
                        color: #fff;
                        text-decoration: none;
                    }
                }
                .border-co {
                    border-bottom-color: #fff;
                }
                .dropdown {
                    position: relative;
                    padding-right: 43px;
                    .dropdown-img {
                        position: absolute;
                        top: 45%;
                        right: 10%;
                        transition: transform 0.5s;    
                    }
                    .toggle, #drop-1 {
                        display: none;
                    }
                    & .toggle a {
                        display: block;
                    }
                    & ul {
                        width: 100%;
                        display: none;
                        padding-top: 20px;
                        position: absolute;
                        top: 40px;
                        left: 0;
                        border-radius: 2px;
                        z-index: 1;
                        li {
                            padding: 12px 0 10px 15px ;
                            background-color: #fafafa;
                            border: none;
                            a {
                                text-transform: none;
                                color: #000;
                            }
                        }
                        li:hover {
                            background-color: #eeeeee;
                        }
                    }
                    &:hover > ul {
                        display:inherit;
                    }
                    &:hover img{
                        transform: rotate(180deg);
                    }
                    &:hover {
                        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
                        border-radius: 2px;
                        background-color: #fafafa;
                    }
                    &:hover a{
                        color: #000;
                    }
                }
            }
        }
        .wrapp-search-sign {
            display: flex;
            width: 45%;
            justify-content: flex-end;
            align-items: center;
            .sign-link {
                display: block;
                color: #fff;
                text-decoration: none;
            }
            .search {
                height: 30px;
                display: flex;
                margin-left: 30px;
                align-items: center;
                .searchButton {
                    background-color: transparent;
                    border: navajowhite;
                    cursor: pointer;
                }
                .searchTerm {
                    height: 30px;
                    display: none;
                    padding-left: 20px;
                    background-color: #000;
                    border: none;
                    color: #fff;
                    &:focus {
                        outline: none;
                    }
                }
                [id^=search-field]:checked + .searchTerm {
                    display: block;
                    animation-name: searchTermIn;
                    animation-duration: 1s;
                }
                [id^=search-field] {
                    display: none;
                }
            }
        }
        #dropp-mobile, .nav-mobile {
            display: none;
        }
        .nav-mobile {
            position: absolute;
            right: 17px;
            top: 48px;
        }
        .nav-mobile span {
            width: 33px;
            height: 4px;
            margin-bottom: 5px;
            background: #fff;;
        }
    }
    .page-1 {
        article {
            display: flex;
            justify-content: center;
            color: #000;
            .wrapper-article {
                width: 780px;
                margin-top: 40px;
                padding-bottom: 50px;
                background-color: #fff;
                .info-writer-block {
                    padding: 30px 0 15px 30px;
                    display: flex;
                    align-items: center;
                    .avatar {
                        margin-right: 20px;
                    }
                    .data-writer-wrapper {
                        line-height: 20px;
                        span {
                            display: block;
                        }
                        .name-writer {
                            font-size: 16px;
                            color: #4d4d4d;
                        }
                        .hours {
                            font-size: 14px;
                            font-weight: 400;
                            color: #999999;
                        }
                    }
                }
                .baground-img {
                    width: 100%;
                    height: 400px;
                    background-image: url(../img/Image-article-1.png);
                    img {
                        height: 100%;
                        width: 100%;
                    }
                }
                .article-2-img {
                    background-image: url(../img/Image-article-2.png);
                }
                h1 {
                    padding: 30px 0 30px 30px;
                    font-size: 36px;
                    font-weight: 500;
                }
                p {
                    padding: 0 40px 0 30px;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 32px;
                }
                .btn-more {
                    width: 112px;
                    height: 36px;
                    margin: 40px 0 0 30px;
                    border-radius: 2px;
                    background-color: #067ad7;
                    text-transform: uppercase;
                    color: #fff;
                    border: none;
                    cursor: pointer;
                    &:hover {
                        background-color: #2196f3;
                    }
                }
            }
        }
        .pagination {
            width: 100%;
            height: 96px;
            margin-top: 90px;
            padding: 0 10% 30px 10%;
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            background-color: #2196f3;
            .previous, .next {
                cursor: pointer;
            }
            .previous img, .next span {
                margin-right: 10px;
            }
            span {
                font-size: 19px;
                font-weight: bold;
            }
        }
    }
    .page-2 {
        padding: 0 10%;
        margin-top: 40px;
        color: #000;
        .show-trailer-block {
            padding-bottom: 40px;
            background-color: #fff;
            .trailer-img {
                width: 100%;
                height: 672px;
                position: relative;
                background-image: url(../img/Layer_1.png);
                background-size: cover;
                background-repeat: no-repeat;
                .btn-play {
                    height: 66px;
                    width: 66px;
                    position: absolute;
                    right: 25px;
                    bottom: -24px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
                    background-color: #067ad7;
                    cursor: pointer;
                    &:hover {
                        background-color: #2196f3;
                    }
                }
            }
            h2 {
                width: 70%;
                margin-left: 25px;
                padding-top: 25px;
                font-size: 36px;
                font-weight: 500;
                line-height: 42px;
            }
            span {
                display: block;
                margin: 25px 0 0 25px;
            }
        }
        .films-list {
            margin: 40px 0 100px 0;
            background-color: #2196f3;
            #grid {
                display: grid;
                grid-template: repeat(2,1fr)/repeat(3,1fr);
                grid-gap: 10px;
                background-color: #f3f3f3;
            }
            div {
                background-color: #fff;
                border-radius: 2px;
                a {
                    display: block;
                    padding-bottom: 25px;
                    color: #000;
                    text-decoration: none;
                    transition: all 200ms ease-in;
                    transform: scale(1);
                    &:hover {
                        box-shadow: 0px 0px 150px #000000;
                        transition: all 200ms ease-in;
                        transform: scale(1.03);
                    }
                }
                img {
                    width: 100%;
                }
                h3 {
                    margin: 30px 0 10px 30px;
                    font-size: 18px;
                }
                span {
                    margin-left: 30px;
                    color: #4d4d4d;
                }
            }
            
        }
    }
    footer {
        height: 90px;
        padding: 0 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        color: #999999;
        font-weight: bold;
        nav {
            width: 42%;
            ul {
                justify-content: space-between;
                display: flex;
            }
            & li a {
                font-weight: bold;
                text-decoration: none;
                color: #999999;
                text-transform: capitalize;
            }
        }
    }
}
.hide {
    display: none;
}
@keyframes searchTermIn{
    0% {opacity: 0;} 
    100% {opacity: 1;}
}

